/* Loading state */
.prisma-calendar-loading {
}

@keyframes prisma-calendar-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Dark theme adjustments */
.theme-dark .prisma-calendar-container .fc-button  {
	background-color: var(--background-modifier-form-field);

	&:hover {
		background-color: var(--background-modifier-form-field-highlighted);
	}
}
